<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content=" ">
    <meta name="keywords" content="">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>首页</title>
    <link rel="stylesheet" href="css/user.css">
</head>
<body>
    <div class="wrap">
        <header>
            <div class="user_info">
                <a href="javascript:;"><img src="./imgs/boy.png" alt=""></a>
                <div>
                    <h3>杰森斯坦森</h3>
                    <p>编号：2</p>
                </div>
            </div>
            <h5>说道做到，这就是我的忍道 </h5>
            <div class="btn_box">
                <a class="btn" href="/template/index.html">活动首页</a>
            </div>
            <div class="pos">
                <h3>1名</h3>
                <p>5票</p>
            </div>
        </header>
        
        <section>
            <div class="title">
                已投票的好友
            </div>
            <ul>
                <li>
                    <a href="#"><img src="imgs/boy.png" alt=""></a>
                    <div>
                        <h2>杰森斯坦森<span>投了一票</span></h2>
                        <p>编号：34</p>
                    </div>
                </li>
                <li>
                    <a href="#"><img src="imgs/boy.png" alt=""></a>
                    <div>
                        <h2>杰森斯坦森<span>投了一票</span></h2>
                        <p>编号：34</p>
                    </div>
                </li>
                <li>
                    <a href="#"><img src="imgs/boy.png" alt=""></a>
                    <div>
                        <h2>杰森斯坦森<span>投了一票</span></h2>
                        <p>编号：34</p>
                    </div>
                </li>
            </ul>
        </section>
    </div>
</body>
<script src="js/base.js"></script>
<script src="js/zepto.js"></script>
<script>
    $(function()
    {
        
        
    })
</script>


</html>